 @model List<BookModel> 
 <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Kitaplar</h1>
                </div><!-- /.col -->
                <div class="col-sm-6 d-flex justify-content-end">
                    <a
                        asp-area="Admin"
                        asp-controller="Book"
                        asp-action="Create"
                        class="btn btn-primary btn-sm">Yeni Kitap</a>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="data-table" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Resim</th>
                                        <th>Ad</th>
                                        <th>Anasayfa</th>
                                        <th>Stok</th>
                                        <th>Yazar</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var book in Model)
                                    {
                                        <tr>
                                            <td>@book.Id</td>
                                            <td>
                                                <img src="http://localhost:5500/@book.ImageUrl" width="25" />
                                            </td>
                                            <td>@book.Name</td>
                                            <td>@book.IsHome</td>
                                            <td>@book.Stock</td>
                                            <td>@book.Author.FirstName @book.Author.LastName</td>
                                            <td>
                                                <a class="btn btn-info btn-sm" 
                                                    asp-area="Admin"
                                                    asp-controller="Book"
                                                    asp-action="Update"
                                                    asp-route-id="@book.Id"
                                                >Göster</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


@section Css{
    @await Html.PartialAsync("_DataTablesCssPartial")

}

@section Js{
    @await Html.PartialAsync("_DataTablesJsPartial")
}